
* {

}
html {
	margin: 0;
	padding: 0;
	height: 100% !important;
	min-width: 100%;
	width: auto !important;
}
body {
	margin: 0;
	padding: 0;
	height: 100% !important;
	overflow-y: auto;
	overflow-x: auto;
	min-width: 100%;
}
/*.edit {
	opacity: .3;
	display: none !important;
}
.edit:hover {
	opacity: .9;
}
.user_mode .edit, .search_mode .edit {
	display: none !important;
}*/
#window_space {
	height: 0;
}
	.window {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 3;
	}
		.window > div .options {
			display: block;
			margin-bottom: 10px;
		}
			.window .options a {
				display: block;
			}
		.window .buttons a {
			cursor: pointer;
		}
#wrapper {
	white-space: nowrap;
	height: 100%;
	max-height: 100%;
}
	#left {
		display: inline-block;
		width: 580px;
		min-width: 580px;
		height: 100%;
		vertical-align: top;
	}
		#search {
			padding-top: 10px;
			margin: 20px 20px 0 20px;
		}
			#search #search_input {
				display: block;
				width: 540px;
				font-size: 26px;
				outline: none;
				margin: 0;
			}
			#search input[type="submit"] {
				display: none;
			}
			#select_engine {
			}
				#select_engine input[type="radio"] {
					display: none;
				}
				#select_engine label {
					display: inline-block;
					cursor: pointer;
				}
				#select_engine label:hover {
				}
				#select_engine input[type="radio"]:checked + label {
				}
				#add_engine {
					float: right;
					font-size: 20px;
					font-weight: bold;
					opacity: .5;
					cursor: pointer;
				}
				#add_engine:hover {
					opacity: 1;
				}
			#search_output {
				display: none;
			}
			.search_mode #search_output {
				display: block;
				margin: 10px 0 10px;
			}
				.search_mode #search_output .results a {
					display: block;
					background-repeat: no-repeat;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					max-width: 492px;
				}
					#ddg_banner, .inlink_banner {
						margin-top: 10px;
						display: block;
						text-align: right;
						font-size: 12px;
						opacity: .7;
					}
					.search_mode #search_output a .from {
					}
					.search_mode #search_output a .url {
						display: inline-block;
						float: right;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
			
			#engine_output {
				display: none;
			}
			.search_mode #engine_output {
				display: block;
			}
				.search_mode #engine_output a {
					margin: 10px 0 0;
					display: block;
				}
					.search_mode #engine_output a .url {
						display: block;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
		#liveinfo {
			margin: 30px 20px 0 20px;
		}
		.search_mode #liveinfo {
			display: none;
		}
			#liveinfo > a {
				float: left;
				width: 255px;
				overflow: hidden;
				margin: 0 0 10px;
				padding: 0 10px 0 0;
			}
			#liveinfo > a.r {
				margin-left: 10px;
			}
				#liveinfo > a .content {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				#liveinfo > a.prelive .content + .content {
					display: none;
				}
				#liveinfo > a.live .content:first-child {
				}
				#liveinfo > a.live .content + .content {
				}
				#liveinfo > a .title {
				}
	#right {
		display: inline-block;
		position: absolute;
		top: 20px;
		bottom: 0;
		margin: 0 0 0 20px;
		padding: 0 10px 0 0;
		overflow: visible;
		-webkit-column-width: 150px;
		-webkit-column-gap: 10px;
	}
	#right>* {
		-webkit-column-break-inside: avoid;
	}
		/*.tower {
			display: inline-block;
			min-width: 180px;
			max-height: 100%;
			vertical-align: top;
			padding-left: 20px;
		}*/
			#right h1, #right .add_tower {
				margin: 0 0 8px 0;
				height: 1.4em;
				max-width: 190px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			#right h1:not(:first-child) {
				-webkit-column-break-before: always;
			}
				#right h1 > span {
					aposition: absolute;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					z-index: 0;
					-webkit-transition: opacity 0.2s ease-in-out;
					-moz-transition: opacity 0.2s ease-in-out;
					-ms-transition: opacity 0.2s ease-in-out;
					-o-transition: opacity 0.2s ease-in-out;
					transition: opacity 0.2s ease-in-out;
				}
				.edit_mode #right h1 > span {
					opacity: .3;
				}
				.edit_mode #right h1:hover > span {
					opacity: .15;
				}
				#right h1 > a.edit {
					position: relative;
					z-index: 1;
					float: right;
					width: auto;
					height: auto;
					display: inline-block;
					height: 100%;
					-webkit-transition: opacity 0.2s ease-in-out;
					-moz-transition: opacity 0.2s ease-in-out;
					-ms-transition: opacity 0.2s ease-in-out;
					-o-transition: opacity 0.2s ease-in-out;
					transition: opacity 0.2s ease-in-out;
				}
				.edit_mode #right h1 > a.edit {
					opacity: .8;
				}
				.edit_mode #right h1:hover > a.edit {
					opacity: 1;
				}
				.edit_mode #right h1:hover > a.edit:hover {
					opacity: 0.8;
				}
			#right .col {
				display: table-cell;
				vertical-align: top;
				margin: 0;
			}
			#right .col:not(:last-child) {
				padding: 0 10px 0 0;
			}
			.search_mode #right .col {
				display: inline-block !important;
				padding: 0;
			}
				#right a {
				}
				#right h3 {
					margin: 18px 0 2px;
					
					white-space: nowrap;
					max-width: 190px;
					overflow: hidden;
					text-overflow: ellipsis;
					-webkit-column-break-after: avoid;
					a-webkit-column-break-before: always;
				}
				#right h3 + a {
					a-webkit-column-break-after: always;
				}
					#right h3 > a.add_link {
						position: relative;
						float: right;
						width: auto;
						height: auto;
					}
					#right h3 > a.del_section {
						position: relative;
						float: right;
						width: auto;
						height: auto;
					}
				#right a.bm {
					width: 140px;
					height: 36px;
					overflow: hidden;
					display: block;
					white-space: normal;
				}
				.user_mode a.bm {
					display: block !important;
				}
					#right a.bm > .edit {
						display: inline-block;
						float: left;
					}
						.edit_mode #right a.bm:hover > .edit {
							background: rgba(255,100,100,0.3);
							opacity: 0.5;
						}
						.edit_mode #right a.bm > .edit:hover {
							background: rgba(255,100,100,0.6);
							opacity: 0.9;
						}
		#right .add_tower {
			display: inline-block;
		}
	footer {
		position: absolute;
		bottom: 0;
		left: 0;
		font-size: smaller;
	}