
* {

}
html {
	margin: 0;
	padding: 0;
	height: 100% !important;
	min-width: 100%;
	width: auto !important;
}
body {
	margin: 0;
	padding: 0;
	height: 100% !important;
	overflow-y: auto;
	overflow-x: auto;
	min-width: 100%;
}
/*.edit {
	opacity: .3;
	display: none !important;
}
.edit:hover {
	opacity: .9;
}
.user_mode .edit, .search_mode .edit {
	display: none !important;
}*/
#window_space {
	height: 0;
}
	.window {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 3;
	}
		.window > div .options {
			display: block;
			margin-bottom: 10px;
		}
			.window .options a {
				display: block;
			}
		.window .buttons a {
			cursor: pointer;
		}
#wrapper {
	white-space: nowrap;
	height: 100%;
	max-height: 100%;
}
	#left {
		display: inline-block;
		width: 580px;
		min-width: 580px;
		height: 100%;
		vertical-align: top;
	}
		#search {
			padding-top: 10px;
			margin: 20px 20px 0 20px;
		}
			#search #search_input {
				display: block;
				width: 540px;
				font-size: 26px;
				outline: none;
				margin: 0;
			}
			#search input[type="submit"] {
				display: none;
			}
			#select_engine {
			}
				#select_engine input[type="radio"] {
					display: none;
				}
				#select_engine label {
					display: inline-block;
					cursor: pointer;
				}
				#select_engine label:hover {
				}
				#select_engine input[type="radio"]:checked + label {
				}
				#add_engine {
					float: right;
					font-size: 20px;
					font-weight: bold;
					opacity: .5;
					cursor: pointer;
				}
				#add_engine:hover {
					opacity: 1;
				}
			#search_output {
				display: none;
			}
			.search_mode #search_output {
				display: block;
				margin: 10px 0 10px;
			}
				.search_mode #search_output .results a {
					display: block;
					background-repeat: no-repeat;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					max-width: 492px;
				}
					#ddg_banner, .inlink_banner {
						margin-top: 10px;
						display: block;
						text-align: right;
						font-size: 12px;
						opacity: .7;
					}
					.search_mode #search_output a .from {
					}
					.search_mode #search_output a .url {
						display: inline-block;
						float: right;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
			
			#engine_output {
				display: none;
			}
			.search_mode #engine_output {
				display: block;
			}
				.search_mode #engine_output a {
					margin: 10px 0 0;
					display: block;
				}
					.search_mode #engine_output a .url {
						display: block;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
		#liveinfo {
			margin: 30px 20px 0 20px;
		}
		.search_mode #liveinfo {
			display: none;
		}
			#liveinfo > a {
				float: left;
				width: 255px;
				overflow: hidden;
				margin: 0 0 10px;
				padding: 0 10px 0 0;
			}
			#liveinfo > a.r {
				margin-left: 10px;
			}
				#liveinfo > a .content {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				#liveinfo > a.prelive .content + .content {
					display: none;
				}
				#liveinfo > a.live .content:first-child {
				}
				#liveinfo > a.live .content + .content {
				}
				#liveinfo > a .title {
				}
	#right {
		display: inline-block;
		position: absolute;
		top: 20px;
		left: 0;
		bottom: 0;
		margin: 0 0 0 600px;
		padding: 0 10px 0 0;
		overflow: visible;
		-webkit-column-width: 150px;
		-webkit-column-gap: 10px;
	}
	#right>* {
		-webkit-column-break-inside: avoid;
	}
		/*.tower {
			display: inline-block;
			min-width: 180px;
			max-height: 100%;
			vertical-align: top;
			padding-left: 20px;
		}*/
			#right h1, #right .add_tower {
				margin: 0 0 8px 0;
				height: 1.4em;
				max-width: 190px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			#right h1:not(:first-child) {
				-webkit-column-break-before: always;
			}
				#right h1 > span {
					aposition: absolute;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					z-index: 0;
					-webkit-transition: opacity 0.2s ease-in-out;
					-moz-transition: opacity 0.2s ease-in-out;
					-ms-transition: opacity 0.2s ease-in-out;
					-o-transition: opacity 0.2s ease-in-out;
					transition: opacity 0.2s ease-in-out;
				}
				.edit_mode #right h1 > span {
					opacity: .3;
				}
				.edit_mode #right h1:hover > span {
					opacity: .15;
				}
				#right h1 > a.edit {
					position: relative;
					z-index: 1;
					float: right;
					width: auto;
					height: auto;
					display: inline-block;
					height: 100%;
					-webkit-transition: opacity 0.2s ease-in-out;
					-moz-transition: opacity 0.2s ease-in-out;
					-ms-transition: opacity 0.2s ease-in-out;
					-o-transition: opacity 0.2s ease-in-out;
					transition: opacity 0.2s ease-in-out;
				}
				.edit_mode #right h1 > a.edit {
					opacity: .8;
				}
				.edit_mode #right h1:hover > a.edit {
					opacity: 1;
				}
				.edit_mode #right h1:hover > a.edit:hover {
					opacity: 0.8;
				}
			#right .col {
				display: table-cell;
				vertical-align: top;
				margin: 0;
			}
			#right .col:not(:last-child) {
				padding: 0 10px 0 0;
			}
			.search_mode #right .col {
				display: inline-block !important;
				padding: 0;
			}
				#right a {
				}
				#right h3 {
					margin: 18px 0 2px;
					
					white-space: nowrap;
					max-width: 190px;
					overflow: hidden;
					text-overflow: ellipsis;
					-webkit-column-break-after: avoid;
					a-webkit-column-break-before: always;
				}
				#right h3 + a {
					a-webkit-column-break-after: always;
				}
					#right h3 > a.add_link {
						position: relative;
						float: right;
						width: auto;
						height: auto;
					}
					#right h3 > a.del_section {
						position: relative;
						float: right;
						width: auto;
						height: auto;
					}
				#right a.bm {
					width: 140px;
					height: 36px;
					overflow: hidden;
					display: block;
					white-space: normal;
				}
				.user_mode a.bm {
					display: block !important;
				}
					#right a.bm > .edit {
						display: inline-block;
						float: left;
					}
						.edit_mode #right a.bm:hover > .edit {
							background: rgba(255,100,100,0.3);
							opacity: 0.5;
						}
						.edit_mode #right a.bm > .edit:hover {
							background: rgba(255,100,100,0.6);
							opacity: 0.9;
						}
		#right .add_tower {
			display: inline-block;
		}
	footer {
		position: absolute;
		bottom: 0;
		left: 0;
		font-size: smaller;
	}







* {

}
body {
	background: url(../back/stressed_linen.png) #444;
	color: #fff;
	font-family: Open Sans, Segoe UI;
}
body::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background: #a0a0a0;
	border-top: 1px solid #a0a0a0;
}
body::-webkit-scrollbar-thumb {
	border-top: 1px solid #a0a0a0;
	background: #d0d0d0;
	border-radius: 0;
}
body::-webkit-scrollbar-thumb:hover {
	background: #f0f0f0;
}
body::-webkit-scrollbar-thumb:active {
	background: #555;
}
#window_space {
}
	.window {
	}
		.window > div {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			height: auto !important;
			padding: 20px 20px;
			background: #222;
			border-left: 1px solid #101010;
		}
			.window > div header {
				margin: 0;
				padding: 0 0 10px;
				color: #eee;
				font-size: 30px;
				font-family: Open Sans Light, Segoe UI Light, sans-serif;
			}
			.window > div .buttons {
				float: right;
			}
				.window > div .options a {
					color: white;
					text-decoration: none;
					font-size: 14px;
					margin: 0 -20px;
					padding: 14px 20px;
					cursor: default;
				}
				.window > div .options a:hover {
					background: rgba(255,255,255,.1);
				}
				.window > div .buttons a {
					display: inline-block;
					padding: 4px 10px;
					margin: 0 0 5px 5px;
					border: 2px solid white;
					color: white;
					background: #3a3a3a;
					text-decoration: none;
				}
				.window > div .buttons a:hover {
					background: #555;
				}
				.window > div .buttons a.accept:hover {
					background: #257;
				}
				.window > div .buttons a:active {
					background: #fff !important;
					color: black;
				}

#wrapper {
}
	#left {
	}
		#search {
		}
			#search #search_input {
			}
			#search input[type="submit"] {
			}
			#select_engine {
			}
				#select_engine input[type="radio"] {
				}
				#select_engine label {
					padding: 4px 6px;
				}
				#select_engine label:hover {
					color: rgba(255,255,255,.8);
				}
				#select_engine input[type="radio"]:checked + label {
					background: rgba(255, 255, 255, 0.3);
					color: white;
				}
				#add_engine {
				}
				#add_engine:hover {
				}
			#search_output {
			}
			.search_mode #search_output {
			}
				.search_mode #search_output .results a {
					margin: 5px 0 0;
					padding: 10px 14px 10px 34px;
					background-color: #444;
					background-position: 10px center;
					background-size: 16px;
					color: white;
					font-size: 14px;
					text-decoration: none;
				}
				.search_mode #search_output .results a.highlight, .search_mode #search_output .results a.highlight {
					background-color: #666;
				}
				.search_mode #search_output:hover .results a.highlight, .search_mode #search_output:hover .results a.highlight {
					background-color: #444;
				}
				.search_mode #search_output .results a[href]:hover, .search_mode #search_output .results a[href]:focus {
					background-color: #666;
				}
				#ddg_banner a {
					color: #fff;
				}
					.search_mode #search_output a .from {
						color: #c0c0c0;
					}
					.search_mode #search_output a .url {
						color: #c0c0c0;
						width: 180px;
					}
		#liveinfo {
		}
			#liveinfo > a {
				background: rgba(255,255,255,.2);
				color: inherit;
				text-decoration: inherit;
			}
				#liveinfo > a .content {
					padding-top: 10px;
					text-align: right;
					font-size: 42px;
					line-height: 60px;
					text-transform: lowercase;
					font-family: Open Sans Light, Segoe UI Light;
					sdsfs-webkit-transition: all .4s ease-in-out;
				}
				#liveinfo > a .content:first-child {
				}
					#liveinfo > a .content .small {
						font-size: 24px;
					}
				#liveinfo > a.prelive .content + .content {
				}
				#liveinfo > a.live .content:first-child {
					animation: livetile2 10s infinite;
					-o-animation: livetile2 10s infinite;
					-ms-animation: livetile2 10s infinite;
					-moz-animation: livetile2 10s infinite;
					-webkit-animation: livetile2 10s infinite;
				}
				#liveinfo > a.live .content + .content {
					animation: livetile1 10s infinite;
					-o-animation: livetile1 10s infinite;
					-ms-animation: livetile1 10s infinite;
					-moz-animation: livetile1 10s infinite;
					-webkit-animation: livetile1 10s infinite;
				}
				#liveinfo > a .title {
					padding: 0 0 5px 5px;
					font-size: 14px;
				}
@-webkit-keyframes livetile1 {
	0% { height: 0; padding: 0; }
	5% { height: 60px; padding-top: 10px; }
	50% { height: 60px; padding-top: 10px; }
	55% { height: 0; padding: 0; }
	100% { height: 0; padding: 0; }
}
@-webkit-keyframes livetile2 {
	0% { margin-top: 0; }
	5% { margin-top: -70px; }
	50% { margin-top: -70px; }
	55% { margin-top: 0; }
	100% { margin-top: 0; }
}

	#right {
	}
		#right {
		}
			#right h1, #right .add_tower {
				padding: 0;
				font-family: Segoe UI Light;
				font-size: 26px;
				font-weight: normal;
				color: #e0e0e0;
				text-decoration: none;
				text-transform: lowercase;
			}
				#right h1 > span {
				}
				#right h1 > a.add_section {
					padding: 0px 6px 0px;
					font-size: 40px;
				}
				#right h1 > a.del_tower {
					padding: 2px 6px 0px;
					font-size: 36px;
				}
			#right .col {
			}
				#right a {
					color: white;
					text-decoration: none;
				}
				#right h3 {
					font-weight: normal;
					font-size: 13px;
					color: #acf;
					border-bottom: 1px solid #666;
					padding: 0 0 2px;
				}
					#right h3 > a.add_link {
						padding: 1px 6px 0px;
						font-size: 20px;
						line-height: 120%;
						color: white;
					}
					#right h3 > a.del_section {
						padding: 2px 6px 3px;
						font-size: 16px;
						line-height: 120%;
					}
				#right a.bm {
					padding: 4px 10px 4px 40px;
					font-size: 13px;
					color: inherit;
					text-decoration: inherit;
					background-size: 20px;
					background-repeat: no-repeat;
					background-position: 8px center;
					transition: background .08s ease-out;
					-o-transition: background-color .08s ease-out;
					-ms-transition: background .08s ease-out;
					-moz-transition: background .08s ease-out;
					-webkit-transition: background .08s ease-out;
				}
				#right a.bm:hover {
					background-color: rgba(255, 255, 255, 0.3);
				}
				.edit_mode #right a.bm:hover {
					background-color: rgba(255, 255, 255, 0.3);
					background-size: 0;
					background-position: 20px center;
				}
					#right a.bm > .edit {
						width: 30px;
						height: 28px;
						margin: 0 5px 0 -35px;
						text-align: center;
						padding-top: 8px;
						opacity: 0;
						transition: all .08s ease-out;
						-o-transition: all .08s ease-out;
						-ms-transition: all .08s ease-out;
						-moz-transition: all .08s ease-out;
						-webkit-transition: all .08s ease-out;
					}
	footer {
		background: rgba(255,255,255,0.2);
		padding: 6px 10px;
	}
		footer a {
			color: white;
		}