
* {

}
body {
	background: url(../back/gray_jean.png) #ddd;
	color: #000;
	font-family: Open Sans, Segoe UI;
}
body::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background: #a0a0a0;
	border-top: 1px solid #a0a0a0;
}
body::-webkit-scrollbar-thumb {
	border-top: 1px solid #a0a0a0;
	background: #d0d0d0;
	border-radius: 0;
}
body::-webkit-scrollbar-thumb:hover {
	background: #f0f0f0;
}
body::-webkit-scrollbar-thumb:active {
	background: #555;
}
#window_space {
}
	.window {
	}
		.window > div {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			height: auto !important;
			padding: 20px 20px;
			background: #e0e0e0;
			border-left: 1px solid #fafafa;
		}
			.window > div header {
				margin: 0;
				padding: 0 0 10px;
				color: #222;
				font-size: 30px;
				font-family: Open Sans Light, Segoe UI Light, sans-serif;
			}
			.window > div .buttons {
				float: right;
			}
				.window > div .buttons a {
					display: inline-block;
					padding: 4px 10px;
					margin: 0 0 5px 5px;
					border: 2px solid black;
					color: black;
					background: #ddd;
					text-decoration: none;
				}
				.window > div .buttons a:hover {
					background: #ccc;
				}
				.window > div .buttons a.accept:hover {
					background: #acf;
				}
				.window > div .buttons a:active {
					background: #000 !important;
					color: white;
				}
#wrapper {
}
	#left {
	}
		#search {
		}
			#search input[type="search"] {
			}
			#search input[type="submit"] {
			}
			#select_engine {
			}
				#select_engine input[type="radio"] {
				}
				#select_engine label {
					padding: 4px 6px;
				}
				#select_engine label:hover {
					color: rgba(0,0,0,.8);
				}
				#select_engine input[type="radio"]:checked + label {
					background: rgba(0, 0, 0, 0.3);
					color: white;
				}
				#add_engine {
				}
				#add_engine:hover {
				}
			#search_output {
			}
			.search_mode #search_output {
			}
				.search_mode #search_output .results a {
					margin: 5px 0 0;
					padding: 10px 14px 10px 34px;
					background-position: 10px center;
					background-size: 16px;
					background-color: #dadada;
					color: black;
					font-size: 14px;
					text-decoration: none;
				}
				.search_mode #search_output .results a.highlight, .search_mode #search_output .results a.highlight {
					background-color: #c0c0c0;
				}
				.search_mode #search_output:hover .results a.highlight, .search_mode #search_output:hover .results a.highlight {
					background-color: #dadada;
				}
				.search_mode #search_output .results a[href]:hover, .search_mode #search_output .results a[href]:focus {
					background-color: #c0c0c0;
				}
					.search_mode #search_output a .from {
						color: #888;
					}
					.search_mode #search_output a .url {
						color: #888;
						width: 180px;
					}
		#liveinfo {
		}
			#liveinfo > a {
				background: rgba(0,0,0,.12);
				color: inherit;
				text-decoration: inherit;
			}
				#liveinfo > a .content {
					padding-top: 10px;
					text-align: right;
					font-size: 42px;
					text-transform: lowercase;
					line-height: 60px;
					font-family: Open Sans Light, Segoe UI Light;
					sdsfs-webkit-transition: all .4s ease-in-out;
				}
				#liveinfo > a .content:first-child {
				}
					#liveinfo > a .content .small {
						font-size: 24px;
					}
				#liveinfo > a.prelive .content + .content {
				}
				#liveinfo > a.live .content:first-child {
					animation: livetile2 10s infinite;
					-o-animation: livetile2 10s infinite;
					-ms-animation: livetile2 10s infinite;
					-moz-animation: livetile2 10s infinite;
					-webkit-animation: livetile2 10s infinite;
				}
				#liveinfo > a.live .content + .content {
					animation: livetile1 10s infinite;
					-o-animation: livetile1 10s infinite;
					-ms-animation: livetile1 10s infinite;
					-moz-animation: livetile1 10s infinite;
					-webkit-animation: livetile1 10s infinite;
				}
				#liveinfo > a .title {
					padding: 0 0 5px 5px;
					font-size: 14px;
				}
@-webkit-keyframes livetile1 {
	0% { height: 0; padding: 0; }
	5% { height: 60px; padding-top: 10px; }
	50% { height: 60px; padding-top: 10px; }
	55% { height: 0; padding: 0; }
	100% { height: 0; padding: 0; }
}
@-webkit-keyframes livetile2 {
	0% { margin-top: 0; }
	5% { margin-top: -70px; }
	50% { margin-top: -70px; }
	55% { margin-top: 0; }
	100% { margin-top: 0; }
}

	#right {
	}
		#right {
		}
			#right h1, #right .add_tower {
				padding: 0;
				font-family: Segoe UI Light;
				font-size: 26px;
				font-weight: normal;
				color: #222;
				text-decoration: none;
				text-transform: lowercase;
			}
				#right h1 > span {
				}
				#right h1 > a.add_section {
					padding: 0px 6px 0px;
					font-size: 40px;
				}
				#right h1 > a.del_tower {
					padding: 2px 6px 0px;
					font-size: 36px;
				}
			#right .col {
			}
				#right a {
					color: inherit;
					text-decoration: none;
				}
				#right h3 {
					font-weight: normal;
					font-size: inherit;
					color: #047;
					border-bottom: 1px solid #ccc;
					padding: 0 0 2px;
				}
					#right h3 > a.add_link {
						padding: 1px 6px 0px;
						font-size: 20px;
						line-height: 120%;
						color: black;
					}
					#right h3 > a.del_section {
						padding: 2px 6px 3px;
						font-size: 16px;
						line-height: 120%;
					}
				#right a.bm {
					padding: 4px 10px 4px 40px;
					font-size: 14px;
					color: inherit;
					text-decoration: inherit;
					background-size: 20px;
					background-repeat: no-repeat;
					background-position: 8px center;
					transition: background .08s ease-out;
					-o-transition: background-color .08s ease-out;
					-ms-transition: background .08s ease-out;
					-moz-transition: background .08s ease-out;
					-webkit-transition: background .08s ease-out;
				}
				#right a.bm:hover {
					background-color: rgba(0, 0, 0, 0.16);
				}
				.edit_mode #right a.bm:hover {
					background-color: rgba(0, 0, 0, 0.16);
					background-size: 0;
					background-position: 20px center;
				}
					#right a.bm > .edit {
						width: 30px;
						height: 28px;
						margin: 0 5px 0 -35px;
						text-align: center;
						padding-top: 8px;
						opacity: 0;
						transition: all .08s ease-out;
						-o-transition: all .08s ease-out;
						-ms-transition: all .08s ease-out;
						-moz-transition: all .08s ease-out;
						-webkit-transition: all .08s ease-out;
					}
	footer {
		background: rgba(0, 0, 0, 0.12);
		padding: 6px 10px;
	}
		footer a {
			color: black;
		}