
* {

}
body {
	background: url(../back/wild_oliva.png) #3c3c3c;
	color: #fff;
	font-family: Pt Sans, Arial, sans-serif;
}
body::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	background: url(../back/wild_oliva.png);
	border: solid #3c3c3c;
	border-width: 1px 0;
}
body::-webkit-scrollbar-thumb {
	border: solid #3c3c3c;
	border-width: 1px 0;
	background: #5ADEF7;
	border-radius: 0;
}
body::-webkit-scrollbar-thumb:hover {
	background: #5ADEF7;
}
body::-webkit-scrollbar-thumb:active {
	background: #5ADEF7;
}
#window_space {
}
	.window {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba(0,0,0,.5);
	}
		.window > div {
			margin: 0 auto;
			padding: 20px 20px;
			background: #222;
			border-bottom: 3px solid #5ADEF7;
		}
			.window > div header {
				margin: 0;
				padding: 0 0 10px;
				color: #eee;
				font-size: 30px;
			}
			.window > div .buttons {
				float: right;
			}
				.window > div .options a {
					color: white;
					text-decoration: none;
					font-size: 14px;
					margin: 0 -20px;
					padding: 14px 20px;
				}
				.window > div .options a:hover {
					background: rgba(0,0,0,.1);
					border-bottom: 2px solid #5ADEF7;
					padding-bottom: 12px;
				}
				.window > div .buttons a {
					display: inline-block;
					padding: 4px 10px;
					margin: 0 0 5px 5px;
					border-bottom: 1px solid #5ADEF7;
					color: white;
					background: #3a3a3a;
					text-decoration: none;
				}
				.window > div .buttons a:hover {
					background: #555;
				}
				.window > div .buttons a:active {
					background: #5ADEF7 !important;
					color: black;
				}

#wrapper {
}
	#left {
	}
		#search {
		}
			#search input[type="search"] {
			}
			#search input[type="submit"] {
			}
			#select_engine {
			}
				#select_engine input[type="radio"] {
				}
				#select_engine label {
					padding: 4px 6px;
				}
				#select_engine label:hover {
					color: rgba(255,255,255,.8);
				}
				#select_engine input[type="radio"]:checked + label {
					background: rgba(255, 255, 255, 0.3);
					color: white;
				}
				#add_engine {
				}
				#add_engine:hover {
				}
			#search_output {
			}
			.search_mode #search_output {
			}
				.search_mode #search_output .results a {
					margin: 5px 0 0;
					padding: 10px 14px 8px 34px;
					border-bottom: 2px solid transparent;
					background-color: transparent;
					background-position: 10px center;
					background-size: 16px;
					color: white;
					font-size: 14px;
					text-decoration: none;
				}
				.search_mode #search_output .results a.highlight, .search_mode #search_output .results a.highlight {
					border-color: #5ADEF7;
					background-color: rgba(0,0,0,0.15);
				}
				.search_mode #search_output:hover .results a.highlight, .search_mode #search_output:hover .results a.highlight {
					background-color: transparent;
					border-color: transparent;
				}
				.search_mode #search_output .results a[href]:hover, .search_mode #search_output .results a[href]:focus {
					border-color: #5ADEF7;
					background-color: rgba(0,0,0,0.15);
				}
				#ddg_banner a {
					color: #fff;
				}
					.search_mode #search_output a .from {
						color: #c0c0c0;
					}
					.search_mode #search_output a .url {
						color: #c0c0c0;
						width: 180px;
					}
		#liveinfo {
		}
			#liveinfo > a {
				background: rgba(0,0,0,0.2);
				color: inherit;
				text-decoration: inherit;
				border-bottom: 3px solid #5ADEF7;
				aborder-radius: 6px;
				awidth: 249px;
			}
				#liveinfo > a .content {
					padding-top: 10px;
					text-align: right;
					font-size: 36px;
					text-transform: capitalize;
					line-height: 40px;
					sdsfs-webkit-transition: all .4s ease-in-out;
				}
					#liveinfo > a .content .small {
						font-size: 24px;
					}
				#liveinfo > a.prelive .content + .content {
				}
				#liveinfo > a.live .content:first-child {
					animation: livetile2 10s infinite;
					-o-animation: livetile2 10s infinite;
					-ms-animation: livetile2 10s infinite;
					-moz-animation: livetile2 10s infinite;
					-webkit-animation: livetile2 10s infinite;
				}
				#liveinfo > a.live .content + .content {
					animation: livetile1 10s infinite;
					-o-animation: livetile1 10s infinite;
					-ms-animation: livetile1 10s infinite;
					-moz-animation: livetile1 10s infinite;
					-webkit-animation: livetile1 10s infinite;
				}
				#liveinfo > a .title {
					padding: 0 0 5px 5px;
					font-size: 14px;
				}
@-webkit-keyframes livetile1 {
	0% { height: 0; padding: 0; }
	5% { height: 40px; padding-top: 10px; }
	50% { height: 40px; padding-top: 10px; }
	55% { height: 0; padding: 0; }
	100% { height: 0; padding: 0; }
}
@-webkit-keyframes livetile2 {
	0% { margin-top: 0; }
	5% { margin-top: -50px; }
	50% { margin-top: -50px; }
	55% { margin-top: 0; }
	100% { margin-top: 0; }
}

	#right {
	}
		#right {
		}
			#right h1, #right .add_tower {
				padding: 0;
				font-size: 26px;
				font-weight: normal;
				color: #e0e0e0;
				border-bottom: 2px solid #5ADEF7;
				text-decoration: none;
			}
				#right h1 > span {
				}
				#right h1 > a.add_section {
					padding: 0px 6px 0px;
					font-size: 40px;
				}
				#right h1 > a.del_tower {
					padding: 2px 6px 0px;
					font-size: 36px;
				}
			#right .col {
			}
				#right a {
					color: white;
					text-decoration: none;
				}
				#right h3 {
					font-weight: normal;
					font-size: inherit;
					color: #e0e0e0;
					border-bottom: 1px solid #147FC2;
					padding: 0 0 2px;
				}
					#right h3 > a.add_link {
						padding: 1px 6px 0px;
						font-size: 20px;
						line-height: 120%;
						color: white;
					}
					#right h3 > a.del_section {
						padding: 2px 6px 3px;
						font-size: 16px;
						line-height: 120%;
					}
				#right a.bm {
					padding: 4px 10px 2px 40px;
					border-bottom: 2px solid transparent;
					font-size: 14px;
					color: inherit;
					text-decoration: inherit;
					background-size: 20px;
					background-repeat: no-repeat;
					background-position: 8px center;
					transition: all .08s ease-out;
					-o-transition: all .08s ease-out;
					-ms-transition: all .08s ease-out;
					-moz-transition: all .08s ease-out;
					-webkit-transition: all .08s ease-out;
				}
				#right a.bm:hover {
					background-color: rgba(0, 0, 0, 0.2);
					border-color: #5ADEF7;
				}
				.edit_mode #right a.bm:hover {
					background-color: rgba(0, 0, 0, 0.2);
					background-size: 0;
					background-position: 20px center;
				}
					#right a.bm > .edit {
						width: 30px;
						height: 28px;
						margin: 0 5px 0 -35px;
						text-align: center;
						padding-top: 8px;
						opacity: 0;
						transition: all .08s ease-out;
						-o-transition: all .08s ease-out;
						-ms-transition: all .08s ease-out;
						-moz-transition: all .08s ease-out;
						-webkit-transition: all .08s ease-out;
					}
	footer {
		background: rgba(255,255,255,0.2);
		padding: 6px 10px;
	}
		footer a {
			color: white;
		}