---
layout: default
title: About
---

<article class="home">
  <div class="big-text">Hi!</div>
  <p>{{ site.profile.description | markdownify }}</p>
</article>
<article>
  <h3>More about me</h3>
  <p>
    {{ site.profile.about | markdownify }}
  </p>
  <ul class="with-icons">
    {% for link in site.profile.links %}
    {% assign properties = link | last %}
    <li>
      <i class="icon icon-{{ properties.icon }}"></i>
      {% if properties.url %}
      <a class="social-button {{ link | first }}-link" href="{{ properties.url }}" title="{{ link | first }}">
        {% endif %}
        {% if properties.title %}
        {{ properties.title }}
        {% else %}
        {{ link | first }}
        {% endif %}
        {% if properties.url %}
      </a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
    
</article>
