---
layout: default
title: About
---

<article class="home">
  <h1>{{ site.profile.greeting }}</h1>
  {{ site.profile.about | markdownify }}
  <div class="with-icons">
    {% for link in site.profile.links %}
    {% assign properties = link | last %}
    <p>
      {% if properties.url %}
      <a class="personal-link {{ link | first }}-link" href="{{ properties.url }}" title="{{ link | first }}" rel="{{ properties.rel }}">
        {% endif %}
        <i class="icon fa fa-{{ properties.icon }}"></i>
        {% if properties.title %}
        {{ properties.title }}
        {% else %}
        {{ link | first }}
        {% endif %}
        {% if properties.url %}
      </a>
      {% endif %}
    </p>
    {% endfor %}
  </div>
</article>
<article>
  <h3>Latest publications</h3>

    {% assign pubs = site.data.publications | sort: 'year' | reverse %}
    {% assign idx = (0..3) %}
    {% for i in idx %}
    {% assign paper = pubs[i] %}
    <p>{% include bibtex_to_ref.html %}</p>
    {% endfor %}
  <p><a href="{{ site.baseurl }}/publications">See all publications</a></p>
</article>
<article>
  <h3>Latest posts</h3>

  {% for c in site.categories %}
  {% assign cname = c | first %}
  {% if cname == "blog" %}
  {% assign posts = c | last %}
  {% endif %}
  {% endfor %}
  {% assign postsi = (0..3) %}
  {% for i in postsi %}
  {% assign post = posts[i] %}
  <p>
    <time datetime="{{ post.date | date: "%F" }}">{{ post.date | date: "%F" }}</time>
    <a href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}">{{ post.title }}</a>
  </p>
  {% endfor %}

  <p><a href="{{ site.baseurl }}/blog">See all posts</a></p>
</article>
<article>
  <h3>Other material</h3>
  {% for item in site.data.material %}
  <p><a href="{{ item.url }}">{{ item.title }}</a></p>
  {% endfor %}
</article>
