
.icon-graduation-cap:before { content: '\e800'; } /* '' */
.icon-cc:before { content: '\e801'; } /* '' */
.icon-cc-by:before { content: '\e802'; } /* '' */
.icon-cc-sa:before { content: '\e803'; } /* '' */
.icon-doc:before { content: '\e804'; } /* '' */
.icon-tag:before { content: '\e805'; } /* '' */
.icon-tags:before { content: '\e806'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-at:before { content: '\f1fa'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */