---
layout: default
title: Blog
paginate:
  per_page: 6
  limit: false
  permalink:    /:num/
  title_suffix: " (page :num)"
---
<h1>{{page.title}}</h1>

{% for post in paginator.posts %}
  {% include single_post.html excerpt = true %}
{% endfor %}

<nav class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">Newer</a>
  {% endif %}

  <span class="note">{{ paginator.page }} of {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">Older</a>
  {% endif %}

  <a href="/blog/archive">All posts</a>
</nav>

<style>
.wrapper .sidebar .side-content .sections .section-blog {
  background: #{{ site.style.background }};
  color: #{{ site.style.foreground }};
  border-color: #{{ site.style.background }}
}
@media (min-width: 64em) {
  .wrapper .sidebar .side-content .sections .section-blog {
    margin-right: -2rem;
    padding-right: 2rem;
  }
}
</style>
