---
---

$background: #{{ site.style.background }}
$foreground: #{{ site.style.foreground }}
$accent: #{{ site.style.accent }}
$sidebar-back: desaturate(lighten($accent, 50%), 70%)
$sidebar-fore: darken($accent, 10%)
$font: "{{ site.style.font }}"

=button-style
  display: inline-block
  text-decoration: none
  padding: .2rem .6rem
  margin: 0 0 .2rem
  border: .1rem solid lighten($foreground, 70%)


=breadcrumb
  color: lighten($foreground, 50%)
  font-weight: bold
  text-transform: uppercase

  & + h1, & + a > h1, & + h2, & + a > h2
    margin-top: 0

body, html
  height: 100%
  font-family: $font, Arial, sans-serif
  font-size: 16px

a
  color: $accent

body
  background: $background

.wrapper
  min-height: 100%
  max-width: 100%
  overflow: hidden

  .top
    background: $sidebar-back
    color: $sidebar-fore
    box-shadow: inset 0 -.5rem .5rem -.25rem rgba(0,0,0,0.1)

    .top-content
      max-width: 40em
      margin: 0 auto
      padding: 0 2em

      a
        color: $sidebar-fore

      .arrow-up
        display: block
        width: 0
        height: 0
        margin-left: 1.1rem
        border-left: .6rem solid transparent
        border-right: .6rem solid transparent
        border-bottom: .6rem solid $background
        box-shadow: inset 0 -10px 10px -5px rgba(0,0,0,0.1)

      header
        white-space: nowrap
        display: inline-block
        
        .name-box
          display: inline-block
          color: inherit
          text-decoration: none
          vertical-align: middle
          margin: 0 1rem 0 0
          text-align: right

          font-size: 1.5em
          padding: 1rem 0

          .profile-pic
            width: 3.2rem
            margin: 0.2rem 0.6rem 0.2rem 0
            border: .1rem solid $background
            border-radius: 8rem
            display: inline-block
            vertical-align: inherit

      .sections, .social-links
        display: inline-block
        
        .section-link, .social-button
          padding: .25rem .5rem
          margin: 0 .25rem 1rem
          color: $sidebar-fore
          text-decoration: none
          text-transform: uppercase
          font-size: 90%

          &:hover
            text-decoration: underline

          &.social-button
            font-size: 1.2rem

  .main
    background: $background
    color: $foreground
    min-height: 100%

    .main-content
      padding: 2em
      line-height: 1.5
      max-width: 40em
      margin: 0 auto

      a.title-link
        color: mix($accent, $foreground, 60%)
        text-decoration: none
        display: block

        &:hover
          color: mix($accent, $foreground, 80%)

      .breadcrumbs
        +breadcrumb

        a
          color: inherit

        .separator
          &:before
            content: "/"
        
      h1
        line-height: 1.1em
        letter-spacing: -0.03rem

      h2
        font-weight: normal
        opacity: .9

      h3
        text-transform: uppercase
        color: mix($foreground, $background, 50%)

      .featured
        margin: 1em 0
        
        h3
          display: inline-block

        a
          margin-left: 0.6rem
          text-decoration: none
          
          &:before
            content: "\f02b"
            font-family: "ForkAwesome"
            margin-right: 0.3rem
      
      .post-link
        background: mix($accent, $foreground, 60%)
        color: $background
        font-size: 1rem
        display: inline-block
        padding: 0 0.6rem 0 0.6rem
        vertical-align: middle
        margin-left: 0.6rem
        text-decoration: none

        .icon
          margin-right: 0.6rem


      img
        max-width: 100%

      ul.with-icons
        list-style-type: none
        padding-left: .6rem

        li > .icon
          display: inline-block
          width: 1.2rem
          text-align: center
          margin-right: .6rem
        
      article
        margin-bottom: 4rem

        .date
          +breadcrumb

        code
          font-family: {{ site.style.monofont }}, monospace, monospace
          background: darken($background, 5%)

        pre
          background: darken($background, 5%)
          max-width: 100%
          overflow-x: auto
          padding: .2rem .6rem

        kbd
          background: white
          padding: .1rem .3rem
          border: 1px solid darken($background, 10%)
          font-size: 0.8rem
          box-shadow: 0 2px 0 rgba(0,0,0,0.4)
          border-radius: .2rem
          
        .note
          border: 1px solid darken($background, 10%)
          padding: 0.2rem 0.6rem
          color: lighten($foreground, 30%)

          &:before
            content: "Nota"
            font-weight: bold
            margin-right: 0.6rem
        
        &.lang-en .note:before
          content: "Note"
          
        .fig
          border: 1px solid darken($background, 10%)
          padding: 0.2rem 0.6rem
          text-align: center
          font-style: italic

          img
            display: block
            margin: 0 auto .2rem

          &.medium
            img
              max-height: 24rem

          &.small
            img
              max-height: 12rem

        .tags
          &:before
            content: "\f02c"
            font-family: "ForkAwesome"
            font-size: 1rem
            color: mix($foreground, $background, 50%)
            
          a
            display: inline-block
            margin-left: 0.6rem

      .pagination
        width: 100%
        text-align: right

        .note
          color: mix($foreground, $background, 50%)
          display: inline-block
          padding: .2rem .6rem

        a
          +button-style


      article.home
        font-size: 1.4em

      .archive-post
        margin: 0 0 .2rem
        color: lighten($foreground, 50%)
        font-weight: bold

        a
          font-weight: normal

  footer
    border-top: 1px solid mix($foreground, $background, 20%)
    padding: 1em
    margin: 1em -1em
    color: mix($foreground, $background, 50%)

    a
      color: inherit
      text-decoration: none
      font-size: small

.big-text
  font-size: 300%
  letter-spacing: -0.05em
  line-height: normal

@media (min-width: 64em)
  body
    font-size: 18px

  
@media (min-width: 654em)
  body
    font-size: 18px

  .wrapper
    .sidebar
      position: fixed
      top: 0
      bottom: 0
      width: 24rem

      .side-content
        padding: 6rem 2rem 2rem
        text-align: right

        header
          .profile-pic
            margin-right: -5.25rem

        .sections
          .section-link
            border: 0px solid
            display: block
            padding: 0.7rem 0
            margin: 0

    .main
      margin-left: 24rem

      .main-content
        padding: 8.6rem 5rem 2rem
        margin: 0

        h1
          font-size: 220%
          margin-top: 0

        article.home
          margin-top: 7rem
