---
---

@font-face {
  font-family: 'icomoon';
  src:  url('{{ site.baseurl }}/assets/fonts/icomoon.eot');
  src:  url('{{ site.baseurl }}/assets/fonts/icomoon_iefix.eot') format('embedded-opentype'),
    url('{{ site.baseurl }}/assets/fonts/icomoon.ttf') format('truetype'),
    url('{{ site.baseurl }}/assets/fonts/icomoon.woff') format('woff'),
    url('{{ site.baseurl }}/assets/fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-school:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
