---
layout: default
title: Docencia
paginate:
  category: docencia
  per_page: 6
  limit: false
  permalink:    /:num/
  title_suffix: " (page :num)"
---

<h1>{{page.title}}</h1>

<p>
  <strong>Horario de tutorías</strong>: martes de 9:30 a 11:30.<br>
  <a href="https://calendar.google.com/calendar/selfsched?sstoken=UUgySkhkb3lpYndYfGRlZmF1bHR8NGFiYmI2ZmY2MTUyNGJmMjJkMjljODc4MzdjYjRiNDE">Reserva una tutoría</a> o 
  <a href="mailto:fdavidcl@ugr.es">envíame un correo electrónico</a>.
</p>

{% for post in paginator.posts %}
  {% include single_post.html %}
{% endfor %}

<nav class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">Más reciente</a>
  {% endif %}

  <span class="note">{{ paginator.page }} de {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">Más antiguo</a>
  {% endif %}

  <a href="/docencia/archive">Todo</a>
</nav>

{% include license.html %}
