---
layout: default
---

{% for topic in page.col %}
  <article>
    <a href="{% if topic.link %}{{ topic.link }}{% else %}{{ topic.url }}{% endif %}"><h1>{{ topic.title }}</h1></a>
    {{ topic.content }}
  </article>
{% endfor %}

<style>
.wrapper .sidebar .side-content .sections .section-{{ page.title }} {
  background: #{{ site.style.background }};
  color: #{{ site.style.foreground }};
  border-color: #{{ site.style.background }}
}
@media (min-width: 64em) {
  .wrapper .sidebar .side-content .sections .section-{{ page.title }} {
    margin-right: -2rem;
    padding-right: 2rem;
  }
}
</style>
