<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.profile.alias }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}assets/stylesheets/normalize.css">
    <link rel="stylesheet" href="{{ site.baseurl }}assets/stylesheets/default.css">
  </head>
  <body>
    <div class="wrapper pure-g">
      <aside class="sidebar">
        <div class="side-content">
          <header>
            <a class="name-box" href="{{ site.baseurl }}">
              <h1>{{ site.profile.name }}</h1>
              <h3>{{ site.profile.alias }}</h3>
            </a>
            {% if site.profile.pic %}<img src="{{ site.profile.pic }}" class="profile-pic" />{% endif %}
          </header>
          <nav class="sections">
            {% if site.enable_blog %}
              <a href="/blog" class="section-link section-blog">blog</a>
            {% endif %}
            {% for name in site.lists %}
              <a href="/{{ name }}" class="section-link section-{{ name }}">{{ name }}</a>
            {% endfor %}
          </nav>
          <nav class="social-links">
            {% for link in site.profile.links %}
              {% assign properties = link | last %}
              <a class="social-button {{ link | first }}-link" href="{{ properties.url }}" title="{{ link | first }}"><!--
                --><i class="fa fa-{{ properties.icon }} icon-{{ properties.icon }}"></i><!--
              --></a>
            {% endfor %}
          </nav>
        </div>
      </aside>
      <div class="main">
        <div class="main-content">
          {{ content }}
        </div>
      </div>
    </div>
    <link href='https://fonts.googleapis.com/css?family={{ site.style.font }}:300,400,400i,700|{{ site.style.monofont }}:400,700' rel='stylesheet' type='text/css'>
    <!--link href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" /-->
    <link rel="stylesheet" href="{{ site.baseurl }}assets/stylesheets/icons.css">
    <link rel="stylesheet" href="{{ site.baseurl }}assets/stylesheets/highlight-friendly.css">
  </body>
</html>
